
<h2>CLP Tracker Activate User</h2>

@if (ViewBag.Successful == "true")
{
    <h3>You are activated! Please log in to the app now</h3>
}
else
{
    <h3>Failed to activate. Please click the link in your email and try again.</h3>
}


